# Remove notebooks from Github language statistics 

# The purpose of this is to reduce the misleading nature of jupyter notebooks from absolutely dominating the language stats
#test
notebooks/** linguist-vendored

**/Makefile linguist-vendored=true
